# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
app/web/node_modules
packages/eslint-config/node_modules
packages/aurelius/node_modules

# testing
coverage

# build
packages/aurelius/dist

# remix
apps/web/.turbo
apps/web/.cache
apps/web/build
apps/web/public/build

# misc
.DS_Store
*.pem

# debug
.pnpm-debug.log*

# local env files
.env

# turbo
.turbo
